{% if user is defined %}
<!-- INTRO-->
<!--===============================================================-->
<div class="bg-intro" id="home">
    <div class="layer-intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">
                        Bonjour ! <br>
                        {% if user.profile.fullName is not null %}
                            Je suis {{ user.profile.fullName }}
                            <p>
                                <small>
                                {% if user.profile.profession is not null %}
                                    {{ user.profile.profession }}
                                {% endif %}
                                </small>
                            </p>
                        {% else %}
                            <h2 class="t-a-c">
                                <p>#Votre nom suivi de votre prénom#</p>
                                {% if isAdmin %}
                                <small class="">(remplissez ces données dans votre profil pour les afficher ici)</small>
                                <a href="{{ path('admin_user_user_edit', { 'id': app.user.id }) }}" class="btn btn-default dim">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                {% endif %}
                            </h2>
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="arrow-down"></div>
{% endif %}