{% if user is defined %}
    {% set portfolio = get_main_portfolio(user) %}

    {% if portfolio is not null %}
        <!-- PORTFOLIO-->
        <!--===============================================================-->
        <div class="bg-portfolio" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title">PORTFOLIO</h2>
                        <hr>
                    </div>
                </div>
                <div class="row row-portfolio">
                    {% if portfolio.projects | length > 0 %}
                        {% for project in portfolio.projects %}
                            <div class="col-sm-4 margin-bottom-xs">
                                <a class="lightbox wrapper-portfolio" href="{% path project.media, 'numo_big' %}">
                                    <img class="img-responsive" src="{% path project.media, 'numo_medium' %}" alt="{{ project.title }}">
                                    <h3 class="category">{{ project.title }}</h3>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}