{% if user is defined %}
    {% set portfolio = get_main_portfolio(user) %}

    <!-- PORTFOLIO-->
    <!--===============================================================-->
    <div class="bg-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title">PORTFOLIO</h2>
                    <hr>
                </div>
            </div>
            <div class="row row-portfolio">
                {% if portfolio is not null %}
                    {% if portfolio.projects | length > 0 %}
                        {% for project in portfolio.projects %}
                            <div class="col-sm-4 margin-bottom-xs">
                                <a class="lightbox wrapper-portfolio" href="{% path project.media, 'numo_big' %}">
                                    <img class="img-responsive" src="{% path project.media, 'numo_medium' %}" alt="{{ project.title }}">
                                    <h3 class="category">{{ project.title }}</h3>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <h2 class="t-a-c">
                        <p>#Votre portfolio ici#</p>
                        {% if isAdmin %}
                        <small class="">(Composez votre portfolio dans votre partie administration pour afficher votre portfolio ici)</small>
                        <a href="{{ path('admin_resume_portfolio_list', { 'id': app.user.id }) }}" class="btn btn-default dim">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% endif %}
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}