{% if user is defined %}
    {% if user.services | length > 0 %}
        <!-- SERVICES-->
        <!--===============================================================-->
        <div class="bg-services" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title">SERVICES</h2>
                        <hr>
                    </div>
                </div>
                <div class="row margin-bottom">
                    {% for service in user.services %}
                    <div class="col-sm-6 margin-bottom-xs">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-{{ service.glyph }} fa-4x"></i>
                            </div>
                            <div class="col-xs-10">
                                <h3>{{ service.title }}</h3>

                                {{ service.resume | raw }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}