{% import "form.twig" as macro %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
    {% block title %}Morphinof{% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    {% block stylesheets %}
        {% stylesheets
            '@CoreBundle/Resources/public/css/bootstrap.css'
            '@CoreBundle/Resources/public/font-awesome/css/font-awesome.css'

            '@CoreBundle/Resources/public/css/plugins/toastr/toastr.min.css'

            '@CoreBundle/Resources/public/js/plugins/gritter/jquery.gritter.css'

            '@CoreBundle/Resources/public/css/plugins/c3/c3.min.css'

            '@CoreBundle/Resources/public/css/plugins/chartist/chartist.min.css'

            '@CoreBundle/Resources/public/css/plugins/iCheck/custom.css'

            '@CoreBundle/Resources/public/css/plugins/summernote/summernote.css'
            '@CoreBundle/Resources/public/css/plugins/summernote/summernote-bs3.css'

            '@CoreBundle/Resources/public/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'

            '@CoreBundle/Resources/public/css/plugins/chosen/chosen.css'
            '@CoreBundle/Resources/public/css/plugins/colorpicker/bootstrap-colorpicker.min.css'
            '@CoreBundle/Resources/public/css/plugins/cropper/cropper.min.css'
            '@CoreBundle/Resources/public/css/plugins/switchery/switchery.css'
            '@CoreBundle/Resources/public/css/plugins/jasny/jasny-bootstrap.min.css'
            '@CoreBundle/Resources/public/css/plugins/nouslider/jquery.nouislider.css'
            '@CoreBundle/Resources/public/css/plugins/datapicker/datepicker3.css'
            '@CoreBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.css'
            '@CoreBundle/Resources/public/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css'
            '@CoreBundle/Resources/public/css/plugins/ionRangeSlider/normalize.css'
            '@CoreBundle/Resources/public/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css'
            '@CoreBundle/Resources/public/css/plugins/clockpicker/clockpicker.css'
            '@CoreBundle/Resources/public/css/plugins/daterangepicker/daterangepicker-bs3.css'
            '@CoreBundle/Resources/public/css/plugins/select2/select2.min.css'
            '@CoreBundle/Resources/public/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css'

            '@CoreBundle/Resources/public/css/plugins/steps/jquery.steps.css'

            '@CoreBundle/Resources/public/css/plugins/dropzone/basic.css'
            '@CoreBundle/Resources/public/css/plugins/dropzone/dropzone.css'

            '@CoreBundle/Resources/public/css/plugins/bootstrap-markdown/bootstrap-markdown.min.css'

            '@CoreBundle/Resources/public/css/plugins/codemirror/codemirror.css'
            '@CoreBundle/Resources/public/css/plugins/codemirror/ambiance.css'

            '@CoreBundle/Resources/public/css/plugins/fullcalendar/fullcalendar.css'

            '@CoreBundle/Resources/public/css/animate.css'

            '@CoreBundle/Resources/public/css/style.css'

            '@InspiniaBundle/Resources/public/style.css'

            '../app/Resources/public/css/global.css'
        %}
            <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link href="/bundles/core/css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
</head>

<body>
    {% block modals %}
    <div id="modals-container"></div>
    {% endblock %}

    {% block body %}
        {% block wrapper %}
        {% endblock %}
    {% endblock %}
</body>

{% block javascripts %}
    {% javascripts
        '@CoreBundle/Resources/public/js/jquery-2.1.1.js'
        '@CoreBundle/Resources/public/js/bootstrap.min.js'
        '@CoreBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
        '@CoreBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'

        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.js'
        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.tooltip.min.js'
        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.spline.js'
        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.resize.js'
        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.pie.js'
        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.time.js'
        '@CoreBundle/Resources/public/js/plugins/flot/jquery.flot.symbol.js'
        '@CoreBundle/Resources/public/js/plugins/flot/curvedLines.js'

        '@CoreBundle/Resources/public/js/plugins/peity/jquery.peity.min.js'

        '@CoreBundle/Resources/public/js/inspinia.js'
        '@CoreBundle/Resources/public/js/plugins/pace/pace.min.js'

        '@CoreBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'

        '@CoreBundle/Resources/public/js/plugins/gritter/jquery.gritter.min.js'

        '@CoreBundle/Resources/public/js/plugins/sparkline/jquery.sparkline.min.js'

        '@CoreBundle/Resources/public/js/plugins/chartJs/Chart.min.js'

        '@CoreBundle/Resources/public/js/plugins/morris/raphael-2.1.0.min.js'
        '@CoreBundle/Resources/public/js/plugins/morris/morris.js'

        '@CoreBundle/Resources/public/js/plugins/rickshaw/vendor/d3.v3.js'
        '@CoreBundle/Resources/public/js/plugins/rickshaw/rickshaw.min.js'

        '@CoreBundle/Resources/public/js/plugins/chartist/chartist.min.js'

        '@CoreBundle/Resources/public/js/plugins/d3/d3.min.js'
        '@CoreBundle/Resources/public/js/plugins/c3/c3.min.js'

        '@CoreBundle/Resources/public/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js'
        '@CoreBundle/Resources/public/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'

        '@CoreBundle/Resources/public/js/plugins/easypiechart/jquery.easypiechart.js'

        '@CoreBundle/Resources/public/js/plugins/summernote/summernote.min.js'

        '@CoreBundle/Resources/public/js/plugins/chosen/chosen.jquery.js'
        '@CoreBundle/Resources/public/js/plugins/jsKnob/jquery.knob.js'
        '@CoreBundle/Resources/public/js/plugins/jasny/jasny-bootstrap.min.js'
        '@CoreBundle/Resources/public/js/plugins/datapicker/bootstrap-datepicker.js'
        '@CoreBundle/Resources/public/js/plugins/nouslider/jquery.nouislider.min.js'
        '@CoreBundle/Resources/public/js/plugins/switchery/switchery.js'
        '@CoreBundle/Resources/public/js/plugins/ionRangeSlider/ion.rangeSlider.min.js'
        '@CoreBundle/Resources/public/js/plugins/iCheck/icheck.min.js'
        '@CoreBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
        '@CoreBundle/Resources/public/js/plugins/colorpicker/bootstrap-colorpicker.min.js'
        '@CoreBundle/Resources/public/js/plugins/clockpicker/clockpicker.js'
        '@CoreBundle/Resources/public/js/plugins/cropper/cropper.min.js'
        '@CoreBundle/Resources/public/js/plugins/fullcalendar/moment.min.js'
        '@CoreBundle/Resources/public/js/plugins/daterangepicker/daterangepicker.js'
        '@CoreBundle/Resources/public/js/plugins/select2/select2.full.min.js'
        '@CoreBundle/Resources/public/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js'

        '@CoreBundle/Resources/public/js/plugins/staps/jquery.steps.min.js'
        '@CoreBundle/Resources/public/js/plugins/validate/jquery.validate.min.js'

        '@CoreBundle/Resources/public/js/plugins/dropzone/dropzone.js'

        '@CoreBundle/Resources/public/js/plugins/bootstrap-markdown/bootstrap-markdown.js'
        '@CoreBundle/Resources/public/js/plugins/bootstrap-markdown/markdown.js'

        '@CoreBundle/Resources/public/js/plugins/fullcalendar/moment.min.js'
        '@CoreBundle/Resources/public/js/plugins/fullcalendar/fullcalendar.min.js'

        '@CoreBundle/Resources/public/js/plugins/toastr/toastr.min.js'

        '@CoreBundle/Resources/public/js/skin-config.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready
        (
            function()
            {

            }
        );
    </script>
{% endblock %}
</html>