{% import "form.twig" as macro %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Morphinof{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        {% stylesheets
            '@CoreBundle/Resources/public/css/bootstrap.css'
            '@CoreBundle/Resources/public/font-awesome/css/font-awesome.css'

            '@ResumeBundle/Resources/public/MStone/Slideshow/assets/css/owl.theme.css'
            '@ResumeBundle/Resources/public/MStone/Slideshow/assets/css/owl.carousel.css'
            '@ResumeBundle/Resources/public/MStone/Slideshow/assets/css/magnific-popup.css'
            '@ResumeBundle/Resources/public/MStone/Slideshow/assets/css/simpletextrotator.css'
            '@ResumeBundle/Resources/public/MStone/Slideshow/assets/css/animate.css'
            '@ResumeBundle/Resources/public/MStone/Slideshow/assets/css/style.css'
        %}
            <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="top" data-spy="scroll" data-target="#main-nav">
    {% block body %}{% endblock %}
</body>

<!-- Javascript files -->
{% block javascripts %}
    {% javascripts
        '@CoreBundle/Resources/public/js/jquery-2.1.1.js'
        '@CoreBundle/Resources/public/js/bootstrap.min.js'

        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jquery.backstretch.min.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/owl.carousel.min.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jquery.magnific-popup.min.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jquery.simple-text-rotator.min.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jquery.waypoints.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jquery.countTo.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/wow.min.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/smoothscroll.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jquery.fitvids.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/jqBootstrapValidation.js'
        '@ResumeBundle/Resources/public/MStone/Slideshow/assets/js/custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready
        (
            function()
            {
            }
        );
    </script>
{% endblock %}
</html>