{% if object is defined %}
    <a href="{{ path('admin_user_user_generate_seed', { 'id': object.id, 'view': 'edit' }) }}" class="btn btn-default" title="Générer une nouvelle seed">
        <i class="fa fa-leaf" aria-hidden="true"></i>
        Nouvelle seed
    </a>
{% endif %}