<a
    href="{{ admin.generateObjectUrl('set_main_portfolio', object) }}"
    class="btn btn-sm btn-{% if object.mainPortfolio %}primary{% else %}default{% endif %}"
    title="Portfolio principal"
>
    <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;Portfolio principal
</a>