{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object is defined %}
        {% for customer in object.customers %}
            <a href="{{ path('admin_resume_customer_edit', { 'id': customer.id }) }}">
                {% media customer.media, 'admin_list' %}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}