{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object is defined %}
        {% if object.projects | length > 0 %}
            {% for project in object.projects %}
                <a href="{{ path('admin_resume_project_edit', { 'id': project.id }) }}">
                    {% if project.media is not null %}
                        {% media project.media, 'admin_list' %}
                    {% else %}
                        <span class="label label-primary">{{ project.title }}</span>
                    {% endif %}
                </a>
            {% endfor %}
        {% else %}
            <span class="label label-info">Aucun</span>
        {% endif %}
    {% endif %}
{% endblock %}