{% if user is defined %}
<!-- FOOTER-->
<!--===============================================================-->
<div class="bg-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                {% if user.contact.facebook is not null %}
                    <a href="https://www.facebook.com/{{ user.contact.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if user.contact.twitter is not null %}
                    <a href="https://www.twitter.com/{{ user.contact.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if user.contact.dribbble is not null %}
                    <a href="https://www.dribbble.com/{{ user.contact.dribbble }}" target="_blank"><i class="fa fa-dribbble"></i></a>
                {% endif %}
                {% if user.contact.tumblr is not null %}
                    <a href="https://www.tumblr.com/{{ user.contact.tumblr }}" target="_blank"><i class="fa fa-tumblr"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}