<!-- FOOTER-BOTTOM-->
<!--===============================================================-->
<div class="bg-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">{{ 'now' | date('Y') }} &copy; Morphinof - Tous droits réservés</p>
            </div>
        </div>
    </div>
</div>