{% if user is defined %}
    {% if user.services | length > 0 %}
        <!-- Services section start -->
        <section id="services" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 headline wow bounceInDown">
                        <h2>Ce que je sais faire</h2>
                        <p>Mes services</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            {% set animationIndex = 0 %}
                            {% set animations = ['bounceInLeft', 'bounceInUp', 'bounceInRight', 'bounceInUp'] %}

                            {% for service in user.services %}
                                <div class="col-sm-4 wow {{ animations[animationIndex] }}">
                                    <div class="service">
                                        <div class="icon">
                                            <i class="fa fa-{{ service.glyph }}"></i>
                                        </div>
                                        <h4>{{ service.title }}</h4>
                                        <div class="text">
                                            {{ service.resume | raw }}
                                        </div>
                                    </div>
                                </div>

                                {% if animationIndex < animations | length - 1 %}
                                    {% set animationIndex = animationIndex + 1 %}
                                {% else %}
                                    {% set animationIndex = 0 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section>
        <!-- Services section end -->
    {% endif %}
{% endif %}