{% if user is defined %}
<!-- ABOUT ME -->
<section class="section about-me" id="about-me">
    <div class="container">
        <h2 class="heading">A propos de moi</h2>
        {{ user.profile.about | raw }}
        <div class="row interest">
        {% if user.profile.hobbies | length > 0 %}
            {% for hobby in user.profile.hobbies %}
            <div class="col-md-3">
                <h3 class="sub-heading">
                    {% if hobby.glyph is not null %}<i class="fa fa-{{ hobby.glyph }}" aria-hidden="true"></i>{% endif %} {{ hobby.tag.name }}
                </h3>
                <p>{{ hobby.resume | raw }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="social">
            <h3 class="sub-heading">Follow me on:</h3>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- END ABOUT ME -->
{% endif %}
