<!-- HEADER -->
<header class="hero-unit header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <div class="avatar">
                    {% if user.avatar is not null %}
                        {% media user.avatar, 'big' %}
                    {% else %}
                        <img src="{{ asset('bundles/resume/CVilized/theme/assets/img/profile-picture.png') }}" class="img-responsive" alt="Profile Picture" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 right">
                <h1 class="hide">{{ user.profile.fullName }}</h1>
                <h2 class="heading">Bonjour, je suis {{ user.profile.firstName }}</h2>
                <p>
                    {% if user.profile.profession is not null %}
                        {{ user.profile.profession }}.
                    {% endif %}
                    Voulez vous en savoir plus sur moi ?</p>
                <a href="#about-me" class="btn btn-default btn-lg">En savoir plus</a><a href="#" class="btn btn-primary btn-lg">Télécharger mon CV</a>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->