{% if user is defined and user.experiences | length > 0 %}
<!-- RESUME -->
<section class="section resume" id="resume">
    <div class="container">
        <h2 class="heading">CV</h2>
        <ul class="timeline">
            {% for experience in user.experiences %}
            <li class="year">{{ experience.startedOn | date('Y') }}</li>
            <li class="event">
                <h3 class="heading">Senior Web Designer</h3>
                <span class="month">
                    <i class="fa fa-calendar"></i>
                    {{ experience.startedOn | date('M Y') }} -
                    {% if experience.endedOn is not null %}
                        {{ experience.endedOn | date('M Y') }}
                    {% else %}
                        actuelement
                    {% endif %}
                </span>
                <p>
                    {{ experience.resume | raw }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!-- END RESUME -->
{% endif %}