<!-- SKILLS -->
<section class="section skills" id="skills">
    <div class="container">
        <h2 class="heading sr-only">SKILLS</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="skill-chart">
                    <div class="pie-chart" id="chart1" data-percent="92">
                        <span class="percent">92%</span>
                    </div>
                    <span class="chart-title">Web Design</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skill-chart">
                    <div class="pie-chart" id="chart2" data-percent="85">
                        <span class="percent">85%</span>
                    </div>
                    <span class="chart-title">WordPress</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skill-chart">
                    <div class="pie-chart" id="chart3" data-percent="78">
                        <span class="percent">78%</span>
                    </div>
                    <span class="chart-title">PHP</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SKILLS -->
